{% extends 'base.html' %}

{% load static %}

{% block title %}Home - Zlores{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <!--Ana sehife-->
    <div class="home">
        {% if posts.exists %}
            <div class="post-list">
                {% for post in posts %}
                    <div class="post-container">
                        <div class="post-content">
                            <h2>{{ post.title }}</h2>
                            <a class="read-more" href="{% url 'userprofile' post.author %}">by {{ post.author }}</a>
                            <p>{{ post.content|truncatewords:20 }}</p>
                            <p><strong>Created:</strong> {{ post.created_at|date:"d M Y H:i" }}</p>
                            <p>
                                <a href="{% url 'likepost' post.id %}" class="like-button">{{ post.totallikes }}</a>
                                <a href="{% url 'dislikepost' post.id %}" class="dislike-button">{{ post.totaldislikes }}</a>
                            </p>
                            <a class="read-more" href="{% url 'postdetail' post.id %}">Read More</a>
                        </div>
                        {% if post.image %}
                        <div class="post-image">
                            <img src="{{ post.image.url }}" alt="{{ post.title }}">
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-posts">You haven't created any posts yet.</p>
        {% endif %}
    </div>
{% endblock %}