{% extends 'base.html' %}

{% load static %}

{% block title %}Home - Zlores{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="home">
        {% if posts.exists %}
            <div class="post-list">
                {% for post in posts %}
                    <div class="post-container">
                        <div class="post-content">
                            <h2><a href="{% url 'postdetail' post.id %}">{{ post.title }}</a></h2>
                            <p class="post-author">by <a href="{% url 'userprofile' post.author %}"><strong>{{ post.author }}</strong></a></p>
                            <p class="post-snippet">{{ post.content|truncatewords:20 }}</p>
                            <p class="post-meta">
                                <span><strong>Created:</strong> {{ post.created_at|date:"d M Y H:i" }}</span>
                            </p>
                            <div class="post-actions">
                                <a href="{% url 'likepost' post.id %}" class="like-button">👍 {{ post.totallikes }}</a>
                                <a href="{% url 'dislikepost' post.id %}" class="dislike-button">👎 {{ post.totaldislikes }}</a>
                                <a href="{% url 'postdetail' post.id %}" class="read-more">Read More</a>
                            </div>
                        </div>
                        <div class="post-image">
                            {% if post.image %}
                                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                            {% else %}
                                <img src="{% static 'images/default.jpg' %}" alt="Default Image">
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-posts">No posts available.</p>
        {% endif %}
    </div>
{% endblock %}