<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Your Profile</title>
</head>
<body>
  <h2>Your Profile</h2>
  
    <form action="{% url 'profile' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" placeholder="{{ user.username }}" ><br><br>

        <label for="first_name">First name:</label><br>
        <input type="text" id="first_name" name="first_name" placeholder="{{ user.first_name }}" ><br><br>

        <label for="last_name">Last name:</label><br>
        <input type="text" id="last_name" name="last_name" placeholder="{{ user.last_name }}" ><br><br>

        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" placeholder="{{ user.email }}" ><br><br>

        <button type="submit">Update</button>
    </form>
</body>
</html>
