{% extends 'base.html' %}

{% load static %}

{% block title %}Your Profile - Zlores{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-form">
        <h2>Your Profile</h2>
        <form action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="{{ user.username }}" required>

            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" placeholder="{{ user.first_name }}" required>

            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" placeholder="{{ user.last_name }}" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="{{ user.email }}" required>

            <button type="submit">Update</button>
        </form>
        <a href="{% url 'myposts' %}" class="my-posts-link">My Posts</a>
    </div>
{% endblock %}