{% extends 'base.html' %}

{% load static %}

{% block title %}Reset Password - Zlores{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/resetpassword.css' %}">
{% endblock %}

{% block content %} 
<!--Reset password sehifesi-->
<div class="reset-password-form">
    <h2>Reset Password</h2>
    
        <!-- Xeta mesajı -->
        {% if errormessage %}
            <p class="login-link">{{ errormessage }}</p>
        {% endif %}
        
        <form action="{% url 'resetpassword' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>

            <label for="password">New password:</label>
            <input type="password" id="password" name="new_password" placeholder="Enter your password" required>

            <button type="submit">Reset</button>
        </form>
        <p class="login-link">Remembered your password? <a href="{% url 'login' %}">Login here</a></p>
    </div>
{% endblock %}