{% extends 'base.html' %}

{% load static %}

{% block title %}{{ user.username }}'s Profile - Zlores{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/userprofile.css' %}">
{% endblock %}

{% block content %}
<!--User profile sehifesi-->
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-image">
            <img src="{{ profile.image.url }}" alt="{{ user.username }}'s Profile Picture">
        </div>
        <h2 class="profile-username">{{ user.username }}</h2>
        <p class="profile-bio">{{ profile.bio }}</p>
        <a class="profile-link">{{ profile.link }}</a>
    </div>

    <div class="profile-stats">
        <div>
            <span>{{ followers_count }}</span>
            <span>Followers</span>
        </div>
        <div>
            <span>{{ following_count }}</span>
            <span>Following</span>
        </div>
    </div>

    {% if author.username != user.username %}
    <div class="profile-actions" >
            {% if is_following %}
                <a href="{% url 'unfollow' author.username %}" class="btn">Unfollow</a>
            {% else %}
                <a href="{% url 'follow' author.username %}" class="btn">Follow</a>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}