body {
    font-family: 'Arial', sans-serif;
    background-color: #0f0614;
    margin: 0;
    padding: 0;
}

.reset-password-form {
    max-width: 400px;
    margin: 50px auto;
    background: #0f0614;
    border: 2px solid #311341;
    border-radius: 8px;
    padding: 20px;
    transition: background 0.6s ease, border-color 0.6s ease;
}
.reset-password-form:hover {
    background: #08030a;
    border-color: #602580; /* Hover durumunda border rengi beyaz */
}

.reset-password-form h2 {
    text-align: center;
    color: #e9c1ff;
    margin-bottom: 20px;
    transition: color 0.6s ease
}

.reset-password-form h2:hover {
    color: white;
}

.reset-password-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #e9c1ff;
    transition: color 0.6s ease
}

.reset-password-form label:hover {
    color: white;
}

.reset-password-form input {
    width: 100%;
    color: #e9c1ff; /* Metin rengi */
    background-color: #0f0614; /* Arka plan rengi */
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #311341;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease; /* Geçiş efektleri */
}

.reset-password-form input:focus {
    border-color: #602580; /* Odaklanıldığında border rengi */
    background-color: #08030a; /* Odaklanıldığında arka plan rengi */
    color: white; /* Odaklanıldığında metin rengi */
    outline: none;
}

.reset-password-form button {
    width: 100%;
    color: #e9c1ff;
    background-color: #0f0614;
    border: 1px solid #311341;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.6s ease, color 0.6s ease, border-color 0.6s ease;
}

.reset-password-form button:hover {
    color: white;
    background-color: #602580;
    border-color: #602580;
}

.reset-password-form .login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #8d759b;
}

.reset-password-form .login-link a {
    color: #e9c1ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.6s ease
}

.reset-password-form .login-link a:hover {
    color: white;
}