{% extends 'base.html' %}

{% load static %}

{% block title %}My Posts - Zlores{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/myposts.css' %}">
{% endblock %}

{% block content %}
    <!--My Post sehifesi-->
    <div class="myposts">
        <h1>My Posts</h1>   

        <!--Postlarin oldugu hisse-->
        {% if posts.exists %}
            <ul class="post-list">
                {% for post in posts %}
                    <li class="post-item">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.content|truncatewords:30 }}</p>
                        <p><strong>Created:</strong> {{ post.created_at|date:"d M Y H:i" }}</p>
                        <p><strong>Score:</strong> {{ post.score }}</p>
                        <a class="read-more" href="{% url 'postdetail' post.id %}">Read More</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-posts">You haven't created any posts yet.</p>
        {% endif %}
    </div>
{% endblock %}